In [18]:
USE prof_dev_day;

CREATE TABLE cars (
    id INT AUTO_INCREMENT PRIMARY KEY, -- Columna autoincremental y clave primaria
    name VARCHAR(250) NOT NULL,
    year INT NOT NULL,
    description VARCHAR(1000) NOT NULL, -- Cambié 'desc' a 'description' para evitar el uso de una palabra reservada
    price DECIMAL(10, 2) NOT NULL,
    category INT NOT NULL,
    FOREIGN KEY (category) REFERENCES categories(id)
);

In [6]:
USE prof_dev_day;

CREATE TABLE brands (
    id INT AUTO_INCREMENT PRIMARY KEY, -- Columna autoincremental y clave primaria
    name VARCHAR(250) NOT NULL,
    country_of_origin INT NOT NULL
);

In [7]:
USE prof_dev_day;
ALTER TABLE cars RENAME COLUMN brands TO brand;

In [9]:
USE prof_dev_day;
CREATE TABLE country (
    id INT AUTO_INCREMENT PRIMARY KEY, -- Columna autoincremental y clave primaria
    name VARCHAR(250) NOT NULL
);

In [8]:
USE prof_dev_day;
ALTER TABLE cars
ADD FOREIGN KEY (brand) REFERENCES brands(id);

: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`prof_dev_day`.`#sql-1a44_14`, CONSTRAINT `cars_ibfk_2` FOREIGN KEY (`brand`) REFERENCES `brands` (`id`))

In [29]:

CREATE VIEW vwCatalogCars
AS
SELECT 
        c.name
    ,   year
    ,   description
    ,   price
    ,   ca.name as category
    ,   img
    ,   b.name as brand
--SELECT *
FROM cars c
LEFT JOIN brands b ON c.brand = b.id
LEFT JOIN categories ca ON c.category = ca.id

In [18]:
UPDATE cars SET brand=4 WHERE id=4;

In [13]:
-- Insert rows into table 'TableName' in schema '[dbo]'
INSERT INTO brands
( -- Columns to insert data into
 name, 
 country_of_origin
)
VALUES
( -- First row: values for the columns in the list above
 'dodge',
 1
),
(
 'ford',
 1
),
(
'land rover',
2
),
(
 'chevrolet',
 1
)

In [11]:
-- Insert rows into table 'TableName' in schema '[dbo]'
INSERT INTO country
( -- Columns to insert data into
 name
)
VALUES
( -- First row: values for the columns in the list above
 'USA',
),
(
 'UK'
),
(
'argentina'
)

In [19]:
USE prof_dev_day;
select * from categories;
select * from cars;
select * from brands;
select * from country;

id,name
1,muscle cars
2,engines
3,trucks
4,Vintage 4x4

id,name,year,description,price,category,img,brand
1,Dodge Dart Swinger,1969,"Dodge is a major contributor to American muscle car culture, and even with the current EV trend Dodge is adapting to offer EV options for the segment. However, this listing is not about EV muscle cars but rather about old-school, mechanical to the core, vintage muscle cars. The Dodge Division of Chrysler Motors first produced the Dart model as a line of large passenger cars. As the generations passed and the Dart options list lengthened, it joined a new and smaller breed of American muscle cars. The year 1969 saw the addition of the Dart Swinger 340 and it was the best by far. This is your chance to own one with a full frame off restoration. With no more than 1000 miles on its clock, this beauty is available for sale in Wisconsin.",24000.00,1,https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/6685557529139a2d791cc60b_1969-Dodge-Dart-Swinger-Silver-LM23P9B204177_112.jpg,1
2,Ford Bronco Velocity Ranger,2020,The team at Velocity Restorations are experts at taking your dream of owning an American classic and making it a reality. One can choose and visualize a specific build from a range of model options and the entire production process is completed in-house. This stunning example of the 1967 Ford Bronco Velocity Ranger Package is one such flawless build that you can take home today.,35000.00,3,https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/66837395a16982492b27752c_1967-Ford-Bronco-Velocity-Ranger-Package-Anvil-Gray-U15NLA86270_110-p-800.jpg,2
3,Land Rover Defender 90,1988,"The Land Rover Defender is one of the most iconic off-roaders of all time. Despite being available new in its most modern avatar, the last-gen Defender is still an enthusiast-favorite vehicle. After completing a production run of over 30 years, the last generation Land Rover Defender retired in 2016. We have here today a restored 1988 Land Rover Defender 90 with modern underpinnings housed under the elegant, classic bodywork. The current owner has reported that the SUV was imported from England and the full restoration was completed in 2019 by Osprey Custom Cars. They also added that the SUV has been fitted with a new hot-dip galvanized OEM chassis from another 1988 model Defender 90. Powered by an LS3 V8 and with just 19,350 miles on the odometer, this classic Defender 90 is the perfect restomod SUV for an aficionado.",40000.00,4,https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/6669a4979dd03cb0c6b87371_1988-Land-Rover-Defender-90-Graphite-Metallic-SALLDVAB7AA308476_066-p-800.jpg,3
4,Chevrolet Nova Sport Coupe,1962,"The Chevrolet Nova has long been a favorite within the hot rodding community, offering a plethora of knowledge and parts for enthusiasts. However, the showcased car for sale here takes the Nova experience to new heights. This is a meticulously executed restomod project, boasting a multitude of new components. If you are looking to venture into the realm of enhanced and modernized performance vehicles with a classic touch, your search ends here. Now equipped with a brand-new 6.2-liter LS3 V8 engine and a host of high-performance upgrades—including a 5-speed Tremec gearbox, upgraded camshaft, and competition-grade tires—this 1962 Chevrolet Nova Sport Coupe Restomod presents a compelling package tailored for the discerning enthusiast.",22000.00,1,https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/661981758fdfd3e7a7787dc3_20437N181206-2%20(1).jpg,4

id,name,country_of_origin
1,dodge,1
2,ford,1
3,land rover,2
4,chevrolet,1

id,name
1,USA
2,UK
3,argentina

In [18]:
USE prof_dev_day;

INSERT INTO cars (name, year, description, price, category, img) VALUES 
('Dodge Dart Swinger', 1969, 'Dodge is a major contributor to American muscle car culture, and even with the current EV trend Dodge is adapting to offer EV options for the segment. However, this listing is not about EV muscle cars but rather about old-school, mechanical to the core, vintage muscle cars. The Dodge Division of Chrysler Motors first produced the Dart model as a line of large passenger cars. As the generations passed and the Dart options list lengthened, it joined a new and smaller breed of American muscle cars. The year 1969 saw the addition of the Dart Swinger 340 and it was the best by far. This is your chance to own one with a full frame off restoration. With no more than 1000 miles on its clock, this beauty is available for sale in Wisconsin.', 24000.00, 1, 'https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/6685557529139a2d791cc60b_1969-Dodge-Dart-Swinger-Silver-LM23P9B204177_112.jpg'),
('Ford Bronco Velocity Ranger', 2020, 'The team at Velocity Restorations are experts at taking your dream of owning an American classic and making it a reality. One can choose and visualize a specific build from a range of model options and the entire production process is completed in-house. This stunning example of the 1967 Ford Bronco Velocity Ranger Package is one such flawless build that you can take home today.', 35000.00, 3, 'https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/66837395a16982492b27752c_1967-Ford-Bronco-Velocity-Ranger-Package-Anvil-Gray-U15NLA86270_110-p-800.jpg'),
('Land Rover Defender 90', 1988, 'The Land Rover Defender is one of the most iconic off-roaders of all time. Despite being available new in its most modern avatar, the last-gen Defender is still an enthusiast-favorite vehicle. After completing a production run of over 30 years, the last generation Land Rover Defender retired in 2016. We have here today a restored 1988 Land Rover Defender 90 with modern underpinnings housed under the elegant, classic bodywork. The current owner has reported that the SUV was imported from England and the full restoration was completed in 2019 by Osprey Custom Cars. They also added that the SUV has been fitted with a new hot-dip galvanized OEM chassis from another 1988 model Defender 90. Powered by an LS3 V8 and with just 19,350 miles on the odometer, this classic Defender 90 is the perfect restomod SUV for an aficionado.', 40000.00, 4, ''),
('Chevrolet Nova Sport Coupe', 1962, 'The Chevrolet Nova has long been a favorite within the hot rodding community, offering a plethora of knowledge and parts for enthusiasts. However, the showcased car for sale here takes the Nova experience to new heights. This is a meticulously executed restomod project, boasting a multitude of new components. If you are looking to venture into the realm of enhanced and modernized performance vehicles with a classic touch, your search ends here. Now equipped with a brand-new 6.2-liter LS3 V8 engine and a host of high-performance upgrades—including a 5-speed Tremec gearbox, upgraded camshaft, and competition-grade tires—this 1962 Chevrolet Nova Sport Coupe Restomod presents a compelling package tailored for the discerning enthusiast.', 22000.00, 1, 'https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/661981758fdfd3e7a7787dc3_20437N181206-2%20(1).jpg');

: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where id = 3

INSERT INTO cars (name, year, description, price, category, img) V' at line 2

In [22]:
USE prof_dev_day;
UPDATE cars
  Set img = 'https://cdn.prod.website-files.com/5b4a3b3971d099f78f362505/6669a4979dd03cb0c6b87371_1988-Land-Rover-Defender-90-Graphite-Metallic-SALLDVAB7AA308476_066-p-800.jpg'
  WHERE id = 3